<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Public Art at Brown</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/admin-style.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
  <div id="sidebar">
    <h1>Public Art <br />@<br /> Brown<br />(Admin)</h1>
    <ul id="menu">
      <li><a href="/">Map</a></li>
      <li><a href="/list">List</a></li>
      <li><a>About</a></li>
      <li class="active"><a href="/admin">Admin</a></li>
    </ul>
  </div>
  <div id="main">
    <div id="map">
    </div>
    <div class="searchWrapper">
      <input id="mainSearch" type="text" placeholder="Search names, artists, addresses...">
      <img src="images/search.png" />
    </div>
    <p>The searchbar, filter box, and map will go here!</p>
    <p>I know the design is horrible, I'm trying my best to make it look more professional!</p>
    <p>To do:</p>
    <ol>
      <li>Change font for title so it looks better</li>
      <li>Add filter bar</li>
      <li>Start adding maps api. Secure your API key!</li>
      <li>Change search icon color. Also make it actually stay in its place when resizing. Also reposition it to fit snugly between Google's built-in map controls</li>
      <li>Add media queries!!</li>
    </ol>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="js/admin.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZGW91AQxQ1YwcHpm44mkSBFNr6xoj4NU&callback=initMap">
  </script>
</body>
</html>