body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: min(max(14px, 4vw), 16px);
}

div {
    margin: 0;
}

h1 {
    font-family: 'Alatsi', 'Lato', 'Times New Roman';
    font-size: 32px;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

#sidebar {
    padding: 10px 0 0 0;
    min-width: 230px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #3F4354;
    color: #EFEFEF;
    box-shadow: 3px 0 12px #C6CDD2;
    position: relative;
    z-index: 1;
}

#sidebar a:not(.active) {
    text-decoration: none;
    color: #000000;
}

#sidebar img {
    width: 200px;
    position: fixed;
    bottom: 0;
    margin-left: 10px;
}

#main {
    flex: 1;
}

#map {
    width: 100%;
    height: 100vh;
}

#menu {
    margin: 50px 0 30px 5%;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu li {
    padding: 5px 0;
    font-size: min(max(16px, 4vw), 18px);
    background-color: #EFEFEF;
    border-left: 4px solid #EFEFEF;
}

#menu li:hover {
    text-decoration: none;
    border-left: 4px solid #C00404;
}

#menu li.active {
    border-left: 4px solid #C00404;

}

#menu a {
    display: block;
    margin: 10px 0;
}

/* These next three are for the search bar */

#mainSearch {
    width: 45vw;
    height: 38px;
    margin: 0;
    padding: 0 0 0 20px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border: 2px solid #ED1C24;
}

.searchWrapper img {
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    z-index: 5;
    padding: 5px 5px;
    border: 2px solid #ED1C24;
    display: block;
    margin-top: -38px;
}

.searchWrapper {
    margin: 10px 0 0 230px;
    z-index: 100;
    position: absolute;
    top: 0;
}

/*These are for the carousel*/

#carousel{
    background-color: white;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.size-img {
    height: 100%;
    max-height: 200px;
}

.carousel-item-custom{
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    height: 200px;
    width: 70%;
}

.carousel-item-single-custom {
    flex: 0 0 auto;
    height: 200px;
    width: 100%;
}

.carousel-item-custom img {
    height: 200px;
    object-fit: cover;
}

.skip-link {
    position: absolute;
    top: 0;
    left: 20px;
    width: 210px;
    z-index: -1;
    padding: 15px;
    background-color: #C6CDD2;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.skip-link:focus {
    z-index: 3;
}