/*COLOR GUIDE
#98A4AE  Grey
#C6CDD2  Grey with 55% tint (lighter)
#4E3629  Brown
#ED1C24  Red
#FFC72C  Gold
*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Lato', sans-serif;
    color: #000000;
    font-size: min(max(14px, 4vw), 16px);
}

div {
    margin: 0;
}

h1 {
    font-family: 'Lato', 'Times New Roman';
    font-size: 32px;
    text-align: center;
    padding: 10px;
}

#sidebar {
    padding: 10px;
    min-width: 250px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #98A4AE;
    box-shadow: 3px 0 12px #C6CDD2;
    position: relative;
    z-index: 1;
}

#sidebar a:not(.active) {
    text-decoration: none;
    color: #000000;
}

#main {
    flex: 1;
}

#map {
    width: 100%;
    height: 100vh;
}

#menu {
    margin: 60px 5% 0 5%;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#menu li {
    padding: 5px 0;
    font-size: min(max(16px, 4vw), 18px);
}

#menu li:hover {
    transition: background-color 0.3s ease-out;
    background-color:#C6CDD2;
    text-decoration: none;
}

#menu li.active {
    color: #ED1C24;
    background-color: #C6CDD2;
}

#menu a {
    display: block;
    margin: 10px 0;
}

/* These next three are for the search bar */

#mainSearch {
    width: 45vw;
    height: 38px;
    margin: 0;
    padding: 0 0 0 20px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
    border: 2px solid #ED1C24;
}

.searchWrapper img {
    width: 38px;
    height: 38px;
    position: absolute;
    right: 0;
    z-index: 5;
    padding: 5px 5px;
    border: 2px solid #ED1C24;
    display: block;
    margin-top: -38px;
}

.searchWrapper {
    margin: 10px 0 0 230px;
    z-index: 100;
    position: absolute;
    top: 0;
}

/*These are for the carousel*/

#carousel{
    background-color: white;
    width: 100%;
    max-height: 200px;
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

.size-img {
    height: 100%;
    max-height: 200px;
}

.carousel-item-custom{
    flex: 0 0 auto;
    height: 200px;
    width: 70%;
    /* display:flex;
    flex-direction: column;
    align-items: center; */
}

.carousel-item-single-custom {
    display: contents;
}

.carousel-item-custom img {
    flex: 0 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-item-single-custom img {
    flex: 0 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#locWindow {
    overflow: auto;
}

/*These next classes are specific to the grid view*/
#listView {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    justify-content: space-evenly;
    margin-top: 70px;
    grid-gap: 10px;
    padding: 0 20px;
    overflow: auto;
}

.listItem img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#infowindow {
    display: none;
}

.show-mobile {
    display: none;
}

.filterBox {
    border-width: 0;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0;
}

.filterButton {
    border-width: 0;
    padding: 10px 20px;
    border-radius: 5px;
}

.skip-link {
    position: absolute;
    top: 0;
    left: 20px;
    width: 210px;
    z-index: -1;
    padding: 15px;
    background-color: #C6CDD2;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.skip-link:focus {
    z-index: 3;
}

/*These next few are for the styling of the list view text boxes*/
.author {
    font-weight: bold;
}

.title {
    font-style: italic;
}

.years::after {
    content: "\A\A";
    white-space: pre;
}

.fix-top{
    position: absolute;
    top: 0;
    z-index: 100;
}

@media only screen and (max-width: 600px) {
    .infowindow {
        
    }

    /* change searchbar, sidebar, admin popup */

    .square-img{
        height: 100%;
        max-height: 200px;
        max-width: 200px;
    }

    .show-mobile {
        display: flex;
    }
    .hide-mobile {
        display: none;
    }

    .mobile-pad{
        padding: 10vw;
    }
    
    #mobile-close{
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    #brand {
        align-self: center;
        font-weight: bold;
        font-family: 'Lato', sans-serif;
    }

    #main{
        display: flex;
        flex-direction: column;
    }

    #listView {
        margin-top: 10px;
    }
    
    #infowindow {
        display: flex; /*???*/
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        opacity: 0;
    }
    #mainSearch {
        width: 100%;
        height: 38px;
        margin: 0;
        padding: 0 0 0 15px;
        border-top-left-radius: 500px;
        border-bottom-left-radius: 500px;
        border: 2px solid #ED1C24;
    }

    .searchWrapper img {
        width: 38px;
        height: 38px;
        /*position: static;*/
        z-index: auto;
        padding: 5px 5px;
        border: 2px solid #ED1C24;
        /*display: block;
        margin-top: -38px;*/
    }
    
    .searchWrapper {
        margin: 0 0 0 0;
        z-index: auto;
        position: relative;
        margin-top: -24px;
    }

    #sidebar{
        display: none;
    }

    #map {
        height: calc(calc(100vh - 38px)  - 56px);
    }
  }

